"*":
  core:
    telemetryConsent: "limited"
  editor:
    fontSize: 11
  "exception-reporting":
    userId: "c97a39f5-ed56-4da7-8922-e486ba21fdd2"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
